.btn.primary {
  font-weight: lighter;
  width: 50px;
  margin: 5px 15px;
  border-radius: 60px;
  color: #fff;
  background-color: #556ee6;
  border-color: #556ee6;
}

.btn.primary a {
  font-weight: lighter;;
  color: #ffffff;

}

